{% extends 'layout.html.twig' %}

{% block pageTitle %}Vérification{% endblock %}

{% block body %}
    <div class="row text">
        <div class="col-md-12 text-center">
            {# Le formulaire, avec URL de soumission vers la route « login_check » comme on l'a vu #}
            <form id="check" class="form-inline">
                <div class="input-group">
                  <span class="input-group-addon" id="basic-addon1">
                      <span class="fa fa-user"></span>
                  </span>
                  <input type="text" id="prenom" name="prenom" placeholder="Prénom" class="form-control" />
                </div>
                <div class="input-group">
                  <span class="input-group-addon" id="basic-addon1">
                      <span class="fa fa-user"></span>
                  </span>
                  <input type="text" id="nom" name="nom" placeholder="Nom" class="form-control" />
                </div>
              <button type="submit" name="button" class="btn btn-default">
                  <span id="search-icon" class="fa fa-search"></span>
              </button>
            </form>
        </div>
    </div>

    {# Affichage du résultat de la requête #}
    <div class="row">
        <div class="col-md-offset-3 col-md-6">
            <div id="searchResult"></div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
<script type="text/javascript" src="{{ asset('bundles/app/js/app.js')}}">

</script>
{% endblock %}
